@font-face {
    font-family: 'default-font';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GilbeotRainbow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotRainbow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@media (min-width: 720px) {
    html, body {
        max-width: 720px;
        margin: 0 auto;
    }
    html {
        font-size: 32px !important;
    }
}
body { 
    font-family: 'default-font';
    font-size: 1.3em;
    color: #141518;
    text-align: center!important;
    background: url(../images/bg.png) 0 0 no-repeat;
    background-size: 100% auto;
}

#menu-overlay{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:.7; z-index:998;}

/* popup */
.pop-wrap{display:none; z-index:1003; position:fixed; justify-content: center; top:50%; width:100%; box-sizing:border-box;max-width: 720px;}
.pop-inner{position:relative; box-shadow:0 8px 8px rgba(0, 0, 0, .2);}
.pop-head{position:relative; background:#fff;}
.pop-body{position:relative; background:#fff; padding:1.875rem 0;}

.accountCopy .pop-head{font-size:1.325rem; font-weight:400; line-height:4.125rem;text-align:center; color:#111; border-bottom:1px solid #5b1eaa;}
.accountCopy .pop-body{padding:0 0 2.5rem;}
.accountCopy .form .group{padding:0 2rem;}
.accountCopy .form .group.col-2{padding: 2.5rem 2.5rem 0.625rem;width: auto;}
.accountCopy .form .group.col-2 > div:first-child {float: left;font-size:1.075rem;}
.accountCopy .form .group.col-2 > div:last-child {float: right;;font-size:1.075rem;}
.accountCopy .form .group.col-2 > div > span {font-size:1.075rem;color:#666;}
.accountCopy .form .group:after {content: '';display: block;clear: both;}
.accountCopy .form .input{font-size: 1.275rem;width: 77%;height: 2.5rem;border: 1px solid #eee;background: #f9f9f9;padding-left: 0.875rem;}
.accountCopy .form .btn{background: #5b1eaa;color: #fff;height: 2.5rem;width: 3.75rem;font-size: 0.813rem;border-radius:0;}
.accountCopy .close-btn{position:absolute; right:0; top:0; display:block; width:3.375rem; height:4.125rem; background:url("../images/message_delete_02.png") 50% 50% no-repeat; background-size:0.875rem; font-size:0; line-height:0;}

.copyComplete .pop-body{padding:0 0 2.5rem;}
.copyComplete .form .group{padding:2.5rem 2rem;text-align:center;}
.copyComplete .form .group .tit{padding:0 2rem 0.5rem;font-size: 1.325rem;color:#111;}
.copyComplete .form .group .bkinfo{padding:0 2rem;line-height:1.1;}
.copyComplete .form .group .bkinfo span {font-size: 1.075rem;color:#666;}
.copyComplete .buttons .btn{display:block; float:left; width:100%; background:#fff; font-size:1.3rem; font-weight:400; line-height:3.125rem; text-align:center; color:#111; border-top:1px solid #eee; border-left:1px solid #eee;text-decoration:none;}

.tb{display:table; width:100%;}
.ib{display:inline-block; vertical-align:top;}


.music{
	z-index:100;
	position: fixed;
	right:1rem; top:1rem;
	transition:all .3s ease;
}
.music img{
	display:block;
	width:1.5rem;
}
.music iframe{
	display:none;
}

.top-separator {
    padding-top: 60px;
    background-image: url("../images/leaf.png");
    background-repeat: no-repeat;
    background-position: top;
}
.visual-section {
    background-image: url("../images/division_680x240.png");
    background-size: calc(100% - 2.25rem);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 20%;
}
.visual-section .main-title {
    color:hotpink;
    font-family: 'GilbeotRainbow', Courier, monospace;
    font-size: 3rem;
    line-height: initial;
}
.visual-section .vertical-item{
	width:100%;
}
.visual-section .vertical-item.photo{
	position:relative;
	padding:2.188rem 2.250rem 0;
}
.visual-section .vertical-item.photo .box{
	position:relative;
	padding-bottom:133.334%;
}
.visual-section .vertical-item.photo .box:after{
	content:'';
	position:absolute;
	left:-0.438rem; top:-0.438rem;
	right:-0.438rem; bottom:-0.438rem;
	display:block;
	background:url("../images/photo_frame.png") center no-repeat;
	background-size: 100% auto;
}
.visual-section .vertical-item.photo .box img{
	position:absolute;
	left:0; top:0;
	width:100%;
	height:100%;
}
.visual-section div {
    margin-top: 20px;
    margin-bottom: 20px;
}
.visual-section .big-name {
    font-size: 1.5rem;
    margin: 10px;
}

.greeting-section {
    padding-top: 10%;
    padding-bottom: 10%;
}
.greeting-section .invitation-image {
    width: 60%;
}
.greeting-section .invitation-other-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.greeting-section .invitation-left-box {
	display: flex;
  	justify-content: center;
}
.greeting-section .invitation-left-text {
	text-align: left;
}
.greeting-section .invitation-left-text .invitation-bold-option {
	margin-left: 4%;
}
.greeting-section .invitation-left-text b {
	font-size: 1.6rem;
}
.greeting-section .invitation-left-text p {
	line-height: 1.6rem;
}
.greeting-section .invitation-center-text {
    text-align: center;
	margin-top: 2%;
}

.calendar-section{
	padding:1.250rem 1rem;
	background-color:#f4f4f4;
}
.calendar-wrap{
	position:relative;
}
.calendar-wrap .day-time{
	position:absolute;
	right:1.563rem;
	top:0.813rem;
	white-space:nowrap;
}
.calendar-wrap .day-time span{
	font-family:"campton";
	font-size:0.875rem;
	line-height:2.5rem;
	color:#111;
}
.calendar-wrap .day-time .day{}
.calendar-wrap .day-time .time{}
#calendar{
	background:#fff;
	border-radius:10px;
	padding-bottom:0.938rem;
}
.ui-datepicker-calendar thead,
.ui-datepicker-year,
.ui-datepicker-prev,
.ui-datepicker-next{
	display:none;
}

.ui-datepicker{
	padding:0 1.250rem;
}
.ui-datepicker-header{
	margin:0 -1.250rem 0.938rem;
}
.ui-datepicker-title{
	padding:0.625rem 1.563rem 0;
	border-bottom:1px solid #eee;
	text-align: left;
}
.ui-datepicker-month{
	font-family:"campton";
	font-size:1.5rem;
	line-height:2.5rem;
}
.ui-datepicker-month strong{
	font-family:"campton";
	font-size:2rem;
	font-weight:bold;
}
.ui-datepicker-calendar{
	text-align:center;
	table-layout:fixed;
}
.ui-datepicker-calendar tbody td{
	padding:0.344rem;
	font-size:0;
	line-height:0;
	pointer-events:none;
}
.ui-datepicker-calendar tbody td span,
.ui-datepicker-calendar tbody td a{
	display:block;
	margin:0 auto;
	width:2.1rem;
	height:2.1rem;
	text-decoration:none;
	font-family:"campton";
	font-size:1.025rem;
	line-height:1.875rem;
	color:#777;
	border:1px solid transparent;
	border-radius:50%;
}
.ui-datepicker-calendar tbody td.ui-datepicker-week-end:first-child span,
.ui-datepicker-calendar tbody td.ui-datepicker-week-end:first-child a{
	color:#ff6666;
}
.ui-datepicker-calendar tbody td.ui-datepicker-current-day span,
.ui-datepicker-calendar tbody td.ui-datepicker-current-day a{
	border-color:#000;
	background-color:#000;
	color:#fff !important;
}

.calendar-section{
	background:#eef8e9;
}
.ui-datepicker-title{
	color:#85b791;
}
.ui-datepicker-calendar tbody td.ui-datepicker-current-day span,
.ui-datepicker-calendar tbody td.ui-datepicker-current-day a{
	background-color:#85b791;
	border-color:#85b791;
}
.thanks-section {
	background: url('../images/photo5_800x1200.png') center no-repeat;
	background-size: 100%;
    padding: 20px;
	width: 100%;
	height: 100%;
}
.thanks-section img {
    width: 100%;
    margin-bottom: 10%;
}

.thanks-section .thanks-card::after {
    content: '';
    display: block;
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    right: 0.75rem;
    bottom: 0.75rem;
    border: 1px solid #2f8994;
    opacity: 0.8;
}
.thanks-section .thanks-card {
    position: relative;
    z-index: 10;
    
    padding: 0.813em;
    background: rgba(255, 255, 255, .8);
}
.thanks-card img {
    width: 10%;
}
.thanks-card p{
	font-size: 1.150rem;
}
.gallery-section{
	padding:3.125rem 0;
}
.gallery-section .gallery-image {
    width: 60%;
	margin-bottom: 60px;
}
.gallery-section .ex{
	margin-top:1.125rem;
	font-size:0.750rem;
	font-weight:400;
	line-height:1;
	text-align:center;
	color:#111;
}
.gallery-section .contain{
	padding:0 16px;
	overflow:hidden;
}
.gallery-section .contain .lSSlideOuter{
	overflow:hidden;
}
.gallery-section .gallery li .box{
	background:#f4f4f4;
}
.gallery li .box{
	position:relative;
	width:100%;
	padding-bottom:100%;
	overflow:hidden;
}
.gallery li .pos{
	position: absolute;
	left:0; top:0;
	width:100%;
	height:100%;  
}
.gallery li .cen{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	height:100%;
	align-items: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size:0;
	line-height:0;
	text-align:center;
}
.gallery li img{
	flex-shrink:0;
	max-width:100%;
	max-height:100%;
}
.lSSlideOuter .lSPager.lSGallery a{
	position:relative;
	width:100%;
	padding-bottom:100%;
	overflow:hidden;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
}
.lSSlideOuter .lSPager.lSGallery a:after{
	content:'';
	display:block;
	position:absolute;
	left:0; top:0; 
	right:0; bottom:0;
	background-color:rgba(0, 0, 0, .5);
}
.lSSlideOuter .lSPager.lSGallery .active a:after{
	display:none;
}
.lSSlideOuter .lSPager.lSGallery img{
	display:none;
	position:absolute;
	left:50%; top:0;
	max-width:inherit;
	height:100%;
	transform: translate(-50%, 0);
}

.gallery-pop-wrap{
	z-index:101;
	position:fixed;
	left:0; top:0;
	right:0; bottom:0;
	width:100%;
	height:100%;
	opacity: 0;
	transform: translate3d(0,-100%,0);
	transition:all .3s;
	background:#000;
}

.gallery-pop-wrap .pop-header{
	height:3.188rem;
	background-color:#000;
	border-bottom:1px solid #333;
	margin-bottom:1.250rem;
}
.gallery-pop-wrap .pop-header .tit{
	font-family:"Noto Sans KR";
	font-size:1.125rem;
	font-weight:400;
	line-height:3.125rem;
	color:#fff;
	text-align:center;
}
.gallery-pop-wrap .pop-body{
	height:calc(100% - 4.438rem);
	background-color:#000;
	padding:0;
	visibility:hidden;
	opacity:0;
}

.gallery-pop-wrap .lSSlideOuter{
	position:relative;
	height:100%;
}
.gallery-pop-wrap .lSSlideWrapper{
	position: absolute;
	left:0; top:0;
	right:0;
	height:calc(100% - 6.875rem);
	overflow:hidden;
}
.gallery-pop-wrap .gallery li .box{
	padding-bottom:0;
}
.gallery-pop-wrap .gallery,
.gallery-pop-wrap .gallery li,
.gallery-pop-wrap .gallery .box{
	height:100% !important;
}
.gallery-pop-wrap .lSPager.lSGallery{
	position: absolute;
	left:0.313rem; bottom:0.313rem;
}
.gallery-pop-wrap .close-btn{
	position: absolute;
	right: 0; top: 0;
	display:block;
	width: 3.375rem;
	height:3.188rem;
	background: url("../images/gallery_close.png") 50% 50% no-repeat;
	background-size:0.875rem auto;
	font-size: 0;
	line-height: 0;
}

.gallery-section .type2-list{
	margin:-0.125rem -0.063rem 0;
}
.gallery-section .type2-list:after{
	content:'';
	display:block;
	clear:both;
}
.gallery-section .type2-list li{
	float:left;
	width:33.333%;
	padding:0.125rem 0.063rem 0;
	box-sizing:border-box;
}
.gallery-section .type2-list .box{
	display:block;
	padding-bottom:100%;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
}

.gallery-section .type3-list{
	margin:-0.781rem -0.438rem 0;
}
.gallery-section .type3-list:after{
	content:'';
	display:block;
	clear:both;
}
.gallery-section .type3-list li{
	float:left;
	width:33.333%;
	padding:0.781rem 0.438rem 0;
	box-sizing:border-box;
}
.gallery-section .type3-list .box{
	display:block;
	padding-bottom:100%;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:50%;
}
.slsbTel-section{
	text-align:center;	
}
.slsbTel-section .tit{
	font-size:1.1rem;
	font-weight:400;
	line-height:2.5rem;
	text-align:center;
	background:#eef8e9;
    color: #6d8961;
}
.slsbTel-section .ib {
    padding: 1.563rem 2.250rem 1.875rem;
}
.slsbTel-section .row{
	margin-top:1.250rem;
}
.slsbTel-section .row:first-child{
	margin-top:0;
}
.slsbTel-section .row:after{
	content:'';
	display:block;
	clear:both;
}
.slsbTel-section .slsb-tit{
	float:left;
	font-size:0.875rem;
	font-weight:400;
	line-height:2.250rem;
	color:#111;
}
.slsbTel-section .slsb-btn{
	float:left;
	margin-left:1.250rem;
	font-size:0;
	line-height:0;
}
.com-btn{
	display:inline-block; 
	vertical-align:top; 
	margin-left:1rem;
	width:2.250rem;
	height:2.250rem;
	font-size:0;
	line-height:0;
	border:1px solid transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	border-radius:50%;
	box-sizing:border-box;
}
.com-btn:first-child{margin-left:0;}
.com-btn.tel{
	background-image:url("../images/icon_tel.png");
	background-size:1rem auto;
}
.com-btn.sms{
	background-image:url("../images/icon_sms.png");
	background-size:1rem auto;
}
.com-btn.acc{
	width: 11.25rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    font-size: 0.813rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none;
}
.honjuTel-section .con{
	padding:1.563rem 2.250rem 1.875rem;
	text-align:center;
}
.honjuTel-section .con:after{
	content:'';
	display:block;
	clear:both;
}
.honjuTel-section .con .col{
	float:left;
	width:50%;
}
.honjuTel-section .honju-tit{
	margin-bottom:0.925rem;
	font-size:1.150rem;
	font-weight:400;
	line-height:1.250rem;
	color:#111;
}
.honjuTel-section .box{
	margin:0 -0.925rem;
	padding:0 0.625rem;
	margin-top:0.938rem;
}
.honjuTel-section .box.first,
.honjuTel-section .honju-tit + .box{
	margin-top:0;
}
.honjuTel-section .box .name{
	margin-bottom:0.438rem;
}
.honjuTel-section .box .name span{
	font-size:0.988rem;
	font-weight:400;
	line-height:1.250rem;
	color:#999;
}
.honjuTel-section .box .name strong{
	font-size:0.875rem;
	font-weight:400;
	color:#111;
	line-height:1.250rem;
	white-space:pre-wrap;
}
.honjuTel-section .box .honju-btn{
	font-size:0;
	line-height:0;
}
.honjuTel-section .tit{
	font-size:1.1rem;
	font-weight:400;
	line-height:2.5rem;
	text-align:center;
	background:#eef8e9;
    color: #6d8961;
}
.honjuTel-section .box .honju-btn{
	font-size:0;
	line-height:0;
}

.account-section{
	padding:3.125rem 0;
	text-align: center;
}

.account-section .sec-tit{
	margin:0 auto 2.5rem;
	width:7rem;
	height:7rem;
	font-size:1.150rem;
	font-weight:300;
	line-height:7rem;
	text-align:center;
	color:#fff;
	background:#5eb984;
	border:1px solid #5eb984;
	border-radius:50%;
}

.account-section .sec-txt {
	margin-bottom:3.125rem;
	font-size:1rem;
	font-weight:300;
	line-height:1rem;
	text-align:center;
	color:#777;
}

.account-section .row{
	margin-top:1.25rem;
}
.account-section .row:first-child{
	margin-top:0;
}

.account-section .row:after {
    content: '';
    display: block;
    clear: both;
}

.account-section .slsb-tit{
	float:left;
	font-size:1.075rem;
	font-weight:400;
	line-height:2.50rem;
	color:#111;
	width: auto;
}

.account-section .slsb-btn {
    float: left;
    margin-left: 1.250rem;   
	width: auto;
}
.com-btn{
	display:inline-block; 
	vertical-align:top; 
	margin-left:1rem;
	width:2.250rem;
	height:2.250rem;
	font-size:0;
	line-height:0;
	border:1px solid transparent;
	background-position:50% 50%;
	background-repeat:no-repeat;
	border-radius:50%;
	box-sizing:border-box;
}
.com-btn:first-child{margin-left:0;}
.com-btn.tel{
	background-image:url("/mobile/new_m/mcard/images/common/icon_tel.png");
	background-size:1rem auto;
}
.com-btn.sms{
	background-image:url("/mobile/new_m/mcard/images/common/icon_sms.png");
	background-size:1rem auto;
}
.com-btn.acc{
	width: 11.25rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    font-size: 1.213rem;
    line-height: 2.5rem;
    color: #fff;
    text-decoration: none;
}
.com-btn:first-child{margin-left:0;}
.com-btn.tel{
	background-image:url("../images/icon_tel.png");
	background-size:1rem auto;
}
.com-btn.sms{
	background-image:url("../images/icon_sms.png");
	background-size:1rem auto;
}
.com-btn.tel.sl{
	background-color:#85b791;
}
.com-btn.tel.sb{
	background-color:#f7b7b5;
}
.com-btn.acc.sl{
	background-color:#85b791;
}
.com-btn.acc.sb{
	background-color:#f7b7b5;
}
.com-btn.sms{
	background-color:#ddd;
}

.foot-share{
	padding:1.875rem 0 1.563rem;
	background:#333;
	border-bottom:1px solid #222;
	text-align: center;
}
.foot-share ul{
	font-size:0;
	line-height:0;
}
.foot-share li{
	display:inline-block;
	vertical-align:top;
	width:3.125rem;
	padding:0 0.938rem;
	box-sizing:content-box;
}
.foot-share a{
	position:relative;
	display:block;
	padding-top:3.563rem;
	font-family:"Noto Sans KR";
	font-size:0.688rem;
	font-weight:300;
	line-height:0.875rem;
	text-align:center;
	color:#aaa;
	text-decoration:none;
}
.foot-share a:after{
	content:'';
	display:block;
	position: absolute;
	left: 50%; top: 0;
	margin-left:-1.563rem;
	width:3.125rem;
	height:3.125rem;
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:3.125rem;
}
.foot-share .kakao:after{
	background-image:url("../images/footer_kakao.png");
}
.foot-share .facebook:after{
	background-image:url("../images/footer_facebook.png");
}
.foot-logo{
	background:#333;
	padding-top: 3%;
}
.foot-logo p {
	color:#aaa;
	text-decoration:none;
	font-size: 1rem;
}
.foot-logo:after{
	content:'';
	display:block;
	width:3.469rem;
	height:0.906rem;
	margin:0 auto;
}