.grid-gallery-section {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
	background-color: #f7f8f9;
}

.grid-gallery-section .area {
    padding: 3%;
}

.grid-gallery-section .gallery-type01 {
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}

.grid-gallery-section .skin-gallery {
    overflow: hidden;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.grid-gallery-section .skin-gallery figure {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 7px;
    margin: 0;
}
.grid-gallery-section .skin-gallery figure a {
    background-size: cover !important;
    cursor: default;
    display: block;
}
.grid-gallery-section .skin-gallery figure .img_frame {
    width: 100%;
    vertical-align: top;
}

.grid-gallery-section .pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    outline: none;
}